---
title: Percorso
permalink: /percorso
redirect_from: ["/it/path", "/path-it", "/it-path", "/path/it"]
lang: it
ref: path
description: "Troppe informazioni ti disorientano? Prenditi un po' di tempo, respira, e segui questo percorso verso la libertà sul web."
layout: page
anchor: false
---
<p>
	Non dovresti fare di corsa (anche perché probabilmente nemmeno vuoi): non eliminare alcun account immediatamente.<br />
	Prima di arrivarci, se ci arriverai, è importante seguire <u>un percorso di <strong>consapevolezza</strong></u>.
</p>

<div class="red box">
	Poiché si può agire a diversi livelli, in un anelito verso l'<a href="https://tommi.space/internet-freedom" target="_blank" title="“Internet Freedom” in Tommi's notes"><cite>Internet Freedom</cite></a>, ho trasformato questo percorso in un giochino: dal <a href="/l00">Livello 0</a> al <a href="/l1000">Livello 1000</a>.
</div>

<br>

<ul>
	{% for level in site.pages %}
		{% if level.level != nil and level.lang == page.lang %}
			<li><strong>Livello {{ level.level }}</strong>: <a href="{{ level.url }}" target="_blank" title="Livello {{ level.level }}: {{ level.title }}">{{ level.title }}</a> - {{ level.description }}</li>
		{% endif %}
	{% endfor %}
</ul>