<div class="h-card stuff row" id="about">
	<a href="{% if page.lang == 'it' %}/about-it{% else %}/about{% endif %}"><h2 class="title">{% if page.lang == 'it' %}Chi è questo tipo{% else %}About this weirdo{% endif %}</h2></a>
	<div class="half column">
		<img class="u-photo" src="{{ site.author.picture }}" alt="a photo of me conducting a live show" title="Tommi on stage conducting a live show">
	</div>
	<div class="half column">


      {% if page.lang == 'it' %}

		<p>Mi chiamo <span class="p-name">Tommi</span>,</p>

		<p>è possibile vedermi campeggiare sul pianeta Terra ma sono perennemente in viaggio in una dimensione parallela dominata dall'entusiasmo, dalla curiosità e dalla confusione.</p>

		<p>Mi capita spesso di perdermi, ma mi muovo continuamente (in tutti i sensi) per conoscere nuove persone e scoprire le loro storie. Il mio ipercinetismo rende un allegro individuo perennemente saltellante, talvolta insopportabile. Finora, come scrive il sommo <a href="https://it.wikipedia.org/wiki/Gottfried_Wilhelm_von_Leibniz" rel="noopener noreferrer" target="_blank" title="Leibniz su Wikipedia">Leibniz</a>, <q cite="Gottfried Wilhelm von Leibniz">nella mia vita ho cominciato tutto e concluso nulla</q>.</p>

		<p>Lo ammetto, non sono bravo a rispondere alla domanda “chi sei”, ma, diciamocelo, nessuno ne è davvero capace. Chi sono veramente lo raccontano i miei “<a href="/zibaldone" title="Zibaldone - tommi.space">articoli</a>”, <a href="/ora" title="Now page - tommi.space">quello che sto facendo ora</a> e tutto <a href="/cose">quello che faccio nella vita</a>. Tuttavia, per capire meglio il caos che regna nella mia testa, di cui questo sito è la rappresentazione virtuale, bisogna assaggiare <a href="/marmellata"><em>La Marmellata</em></a>.</p>

		<p>Cose pratiche utili:
			<ul>
				<li>il mio <a class="u-url" href="https://europa.eu/!md89Vg" rel="noopener noreferrer" target="blank" title="Curriculum Vitae di Tommaso Marmo su Europass">Curriculum Vitae</a> e il mio <a a="u-url" href="https://www.linkedin.com/in/tommasomarmo/" rel="noopener noreferrer" target="_blank" title="Tommaso Marmo su Linkedin">profilo Linkedin</a></li>
				<li>Il mio<a class="u-email" href="mailto:{{ site.email | encode_email }}" rel="me" title="Scrivimi un'email">indirizzo email</a>. Se possibile, utilizzate la mia <a class="u-key" href="https://api.protonmail.ch/pks/lookup?op=get&search={{ site.email }}" target="_blank" rel="pgpkey authn">chiave PGP</a> (non è necessaria se utilizzate un indirizzo email con <a href="https://protonmail.com" rel="noopener noreferrer" target="_blank" title="Sito web di ProtonMail">ProtonMail</a>)</li>
				<li>il mio username è <code class="p-nickname">xplosionmind</code> ovunque.</li>
			</ul>
		</p>


        {% else %}


		<p>Hi, I’m <span class="p-name">Tommi</span>.</p>

		<p>I’m an <span class="p-category p-label">enthusiast</span>. I love getting involved in everything which involves human interactions and I’m overthinking addicted. I’m an happy guy, but this doesn’t mean I don’t cry (just make me watch the right movie).</p>
		<p><span class="p-note">The purpose of my whole exsistence is meeting all the people in the world</span>. This is why, When I’m not studying, I try to be as busy as I can. This means, as the great <a href="https://en.wikipedia.org/wiki/Gottfried_Wilhelm_Leibniz" rel="noopener noreferrer" target="_blank" title="Leibniz on Wikipedia">Leibnitz</a> said, that <q cite="Gottfried Wilhelm von Leibniz">in my life I started everything and concluded nothing</q>. You can know more about something of this messy everything by browsing around. If the stuff here is too confused and you get lost, well… welcome to my mind.</p>
		<p>Things that wander around in my head are written on my <a href="/blog" target="_blank">blog</a> or they are thrown in <a href="/jar" target="_blank" title="The Jar - tommi.space"><em>The Jar</em></a>.</p>
		<p>Some useful data:
			<ul>
				<li>my <a class="u-url" href="https://www.linkedin.com/in/tommasomarmo/" rel="noopener noreferrer" target="_blank" title="Tommaso Marmo su Linkedin">Linkedin profile</a> and my <a class="u-url" href="https://europa.eu/!xG43Xd" rel="noopener noreferrer" target="_blank">Curriculum Vitae</a></li>
				<li>you can <a class="u-email" href="mailto:{{ site.email | encode_email }}" rel="me" title="Write me an email">write me an email</a>. If possible, please use my <a class="u-key" href="https://api.protonmail.ch/pks/lookup?op=get&search={{ site.email }}" target="_blank" rel="pgpkey authn">PGP key</a> (it’s not necessary if you use a <a href="https://protonmail.com" rel="noopener noreferrer" target="_blank" title="ProtonMail website">ProtonMail</a> address)</li>
				<li>my username is <code class="p-nickname">xplosionmind</code> everywhere. If you can’t find it, I’m not there.</li>
			</ul>
		</p>
        {% endif %}
	</div>
</div>
