<div class="red mobile banner box">
	{% if page.lang == 'it' %}Lo so, il tasto per aprire il menu non funziona. Purtroppo è un problema piuttosto complicato da risolvere per me, ci metterò un po' a capire come fare. Intanto, in alternativa, potete usare la <a href="https://www.iphoneitalia.com/visualizzare-sito-desktop-iphone" rel="noopener noreferrer" target="_blank">modalità desktop</a>.{% else %}I know, the menu button ain't working. I'll fix this ASAP, in the meanwhile try using desktop mode.{% endif %}
</div>
