<div class="row">
	<div class="blue box">
		🤔 
		{% if page.lang == 'it' %}
			Ciò che è scritto in questa pagina ti lascia perplesso, contrariato, o ti sembra manchi qualcosa? Se la risposta è affermativa, sarebbe favoloso se potessi <a href="/contribuisci" target="_blank" title="Contribuisci">contribuire</a> per migliorarne i contenuti 📈!
		{% else %}
			What is written in this page left you puzzled, vexed, or you feel something is missing? If the answer is affirmative, you really should <a href="/contribute" rel="noener noreferrer" target="_blank" title="">contribute</a> and make it better 📈!
		{% endif %}
	</div>
</div>