<div class="one column row">
	<div class="banner red box">
		<h3>🚧 {% if page.lang == 'it' %}Lavori in corso{% else %}Work in progress{% endif %} 🏗</h3>
		{% if page.lang == 'it' %}
		Questa pagina è ancora <u>in fase di scrittura</u>. Perdona eventuali errori o imprecisioni.<br />
		Se hai parti da aggiungere o da correggere, <a href="https://www.github.com/{{ site.github_username }}/{{ site.git_repository }}/blob/main/{{ page.path | uri_escape }}" target="_blank" title="Modifica “{{ page.title }}” su GitHub">puoi completarla tu</a>!
		{% else %}
		This page is still being written or edited. Please pardon possible errors or imperfections.<br />
		If you have something to add or to adjust yourself, <a href="https://www.github.com/{{ site.github_username }}/{{ site.git_repository }}/blob/main/{{ page.path | uri_escape }}" target="_blank" title="Edit “{{ page.title }} on GitHub”">feel free to do it</a>!
		{% endif %}
	</div>
</div>
