<header id='nav' class='nav'>
	<a id='home' href='{% case page.lang %}{% when 'it' %}/it/home{% when 'fr' %}/fr/home{% else %}/home{% endcase %}' title='Home'>Quit Social Media</a>
	<nav>
		<label class='nav-mobile' for='menutoggle'><span></span></label>
		<input type='checkbox' id='menutoggle'>
		<ul class='nav-list'>
			<li>{% case page.lang %}{% when 'it' %}<a href='/info' title='Informazioni su questo sito'>Info{% when 'fr' %}<a href='/àPropos' title='À propos de ce site-ci'>À propos{% else %}<a href='/about'>About{% endcase %}</a></li>
			<li>{% case page.lang %}{% when 'it' %}<a href='/perché' title='Perché'>Perché{% when 'fr' %}<a href='/pourquoi' title='Pourquoi'>Pourquoi{% else %}<a href='/why'>Why{% endcase %}</a></li>
			<li>{% case page.lang %}{% when 'it' %}<a href='/ma' title='Obiezioni'><q>Ma…</q>{% when 'fr' %}<a href='/mais' title='Objections et réponses'><q>Mais…</q></a>{% else %}<a href='/but'><q>But…</q>{% endcase %}</a></li>
			<li>{% case page.lang %}{% when 'it' %}<a href='/percorso' title='Percorso'>Percorso{% when 'fr' %}<a href='/chemin' title='Chemin'>Chemin</a>{% else %}<a href='/path'>Path{% endcase %}</a></li>
			<li>{% case page.lang %}{% when 'it' %}<a href='/soluzioni' title='Soluzioni'>Soluzioni{% when 'fr' %}<a href='/solutions' title='Solutions et alternatives'>Solutions</a>{% else %}<a href='/solutions' title='Solutions and alternatives'>Solutions{% endcase %}</a></li>
			<li><a href='{% case page.lang %}{% when 'it' %}/it/faq' title='Obiezioni e risposte{% when 'fr' %}/fr/faq' title='Objections et réponses{% else %}/faq' title='Objections and Replies{% endcase %}'>FAQ</a></li>
			{% unless page.ref == nil %}
				<li class='dropdown'>
					<label for='langtoggle' title='language selector'>🌍</label>
					<input type='checkbox' id='langtoggle'>
					<ul class='lang-list'>
					{% for cosa in site.pages %}{% if cosa.ref == page.ref %}
						<li>
							<a href='{{ cosa.url }}' class='{{ cosa.lang }}' hreflang='{{ cosa.lang }}' lang='{{ cosa.lang }}'>{% case cosa.lang %}
								{% when 'it' %}🇮🇹{% when 'en' %}🇬🇧{% when 'fr' %}🇫🇷{% else %}{{ cosa.lang }}
							{% endcase %}</a>
						</li>
					{% endif %}{% endfor %}
					</ul>
				</li>
			{% endunless %}
		</ul>
	</nav>
</header>
