<div class='box row' style='background:#FFCCAA;'>
	<div class='two-thirds column'>
		<p style='color:#A02C89;'>{% if page.lang == 'it'%}
			Questo sito supporta il <a href='https://privacypride.org' target='_blank' title='PrivacyPride'><em>PrivacyPride</em></a>!<br />
			<br />
			Unisciti a noi il 13 novembre 2021!
		{% else %}
			This website supports the <a href='https://privacypride.org' target='_blank' title='PrivacyPride'><em>PrivacyPride</em></a> movement!<br />
			Join us!
		{% endif %}</p>
		<a class='button' style='background:#A02C89;color:#FFCCAA;' href='https://privacypride.org' target='_blank' title='Homepage PrivacyPride'>Info</a>
	</div>
	<div class='one-third column'>
		<img src='/images/privacypride.png' alt='Locandina del PrivacyPride' />
	</div>
</div>
