<a href="/sconnesso"><h2 class="title">Sconnesso</h2></a>
<div class="stuff row">
	<div class="half column vertical flex">
		<a href="https://sconnesso.link" target="_blank"><img src="{{ site.images }}/sconnesso.jpg" alt="Logo Sconnesso" title="Il logo di Sconnesso" /></a>
	</div>
	<div class="half column vertical flex">
		<p>
			{{ site.podcast.description }}
		</p>
		<a class="written button" href="https://sconnesso.link" target="_blank" style="background:var(--purple);color:white;">{% case page.lang %}{% when 'it' %}Ascolta{% else %}Listen{% endcase %}</a>
	</div>
</div>
