{% assign stuff=site.data.stuff %}
{% for thing in stuff %}
	{% if page.lang == 'it' %}
		<div class="stuff row" style="color: {{ thing.color }}; background: {{ thing.background }}" id="{{ thing.title | slugify }}">
			<div class="half column vertical flex">
				<img src="{{ site.images }}/stuff/{{ thing.title | slugify }}.jpg" title="{{ thing.alt-it }}" alt="{{ thing.alt-it }}" />
			</div>
			<div class="half column vertical flex">
				<img class="stuff-logo" src="{{ site.logos }}/stuff/{{ thing.title | slugify }}.svg" alt="{{ thing.title }} logo" title="{{ thing.title }}" />
				<p>{{ thing.description-it | markdownify }}</p>
				<a href="{{ thing.link }}" rel="noopener noreferrer" target="_blank" class="written button" style="color: {{ thing.background }}; background: {{ thing.color }};">{{ thing.button-it }}</a>
			</div>
		</div>
	{% else %}
		<div class="stuff row" style="color: {{ thing.color }}; background: {{ thing.background }}" id="{{ thing.title | slugify }}">
			<div class="half column vertical flex">
				<img src="{{ site.images }}/stuff/{{ thing.title | slugify }}.jpg" title="{{ thing.alt }}" alt="{{ thing.alt }}" />
			</div>
			<div class="half column vertical flex">
				<img class="stuff-logo" src="{{ site.logos }}/stuff/{{ thing.title | slugify }}.svg" alt="{{ thing.title }} logo" title="{{ thing.title }}" />
				<p>{{ thing.description | markdownify }}</p>
				<a href="{{ thing.link }}" rel="noopener noreferrer" target="_blank" class="written button" style="color: {{ thing.background }}; background: {{ thing.color }};">{{ thing.button }}</a>
			</div>
		</div>
	{% endif %}
{% endfor %}
