.highlight .hll	{ background-color: transparent; }
.highlight .c	{ color: var(--light-grey); }	/* Comment */
.highlight .err	{ color: white; background-color: var(--red); }			/* Error */
.highlight .k	{ color: var(--blue); }			/* Keyword */
.highlight .l	{ color: var(--razzmatazz); }	/* Literal */
.highlight .n	{ color: white; }				/* Name */
.highlight .o	{ color: var(--red); }			/* Operator */
.highlight .p	{ color: var(--text); }			/* Punctuation */
.highlight .cm	{ color: var(--light-grey); }	/* Comment.Multiline */
.highlight .c	{ color: var(--light-grey); }	/* Comment.Preproc */
.highlight .c1	{ color: var(--light-grey); }	/* Comment.Single */
.highlight .cs	{ color: var(--light-grey); }	/* Comment.Special */
.highlight .ge	{ font-style: italic }			/* Generic.Emph */
.highlight .gs	{ font-weight: bold }			/* Generic.Strong */
.highlight .kc	{ color: var(--blue); }			/* Keyword.Constant */
.highlight .kd	{ color: var(--blue); }			/* Keyword.Declaration */
.highlight .kn	{ color: var(--red); }			/* Keyword.Namespace */
.highlight .kp	{ color: var(--blue); }			/* Keyword.Pseudo */
.highlight .kr	{ color: var(--blue); }			/* Keyword.Reserved */
.highlight .kt	{ color: var(--blue); }			/* Keyword.Type */
.highlight .ld	{ color: var(--yellow); }		/* Literal.Date */
.highlight .m	{ color: var(--razzmatazz); }	/* Literal.Number */
.highlight .s	{ color: var(--yellow); }		/* Literal.String */
.highlight .na	{ color: var(--green); }		/* Name.Attribute */
.highlight .nb	{ color: var(--text); }			/* Name.Builtin */
.highlight .nc	{ color: var(--green); }		/* Name.Class */
.highlight .no	{ color: var(--blue); }			/* Name.Constant */
.highlight .nd	{ color: var(--green); }		/* Name.Decorator */
.highlight .ni	{ color: var(--text); }			/* Name.Entity */
.highlight .ne	{ color: var(--green); }		/* Name.Exception */
.highlight .nf	{ color: var(--green); }		/* Name.Function */
.highlight .nl	{ color: var(--text); }			/* Name.Label */
.highlight .nn	{ color: var(--text); }			/* Name.Namespace */
.highlight .nx	{ color: var(--green); }		/* Name.Other */
.highlight .py	{ color: var(--text); }			/* Name.Property */
.highlight .nt	{ color: var(--red); }			/* Name.Tag */
.highlight .nv	{ color: var(--light-grey); }	/* Name.Variable */
.highlight .ow	{ color: var(--red); }			/* Operator.Word */
.highlight .w	{ color: var(--text); }			/* Text.Whitespace */
.highlight .mf	{ color: var(--razzmatazz); }	/* Literal.Number.Float */
.highlight .mh	{ color: var(--razzmatazz); }	/* Literal.Number.Hex */
.highlight .mi	{ color: var(--razzmatazz); }	/* Literal.Number.Integer */
.highlight .mo	{ color: var(--razzmatazz); }	/* Literal.Number.Oct */
.highlight .sb	{ color: var(--yellow); }		/* Literal.String.Backtick */
.highlight .sc	{ color: var(--yellow); }		/* Literal.String.Char */
.highlight .sd	{ color: var(--yellow); }		/* Literal.String.Doc */
.highlight .s2	{ color: var(--yellow); }		/* Literal.String.Double */
.highlight .se	{ color: var(--razzmatazz); }	/* Literal.String.Escape */
.highlight .sh	{ color: var(--yellow); }		/* Literal.String.Heredoc */
.highlight .si	{ color: var(--yellow); }		/* Literal.String.Interpol */
.highlight .sx	{ color: var(--yellow); }		/* Literal.String.Other */
.highlight .sr	{ color: var(--yellow); }		/* Literal.String.Regex */
.highlight .s1	{ color: var(--yellow); }		/* Literal.String.Single */
.highlight .ss	{ color: var(--yellow); }		/* Literal.String.Symbol */
.highlight .bp	{ color: var(--text); }			/* Name.Builtin.Pseudo */
.highlight .vc	{ color: var(--text); }			/* Name.Variable.Class */
.highlight .vg	{ color: var(--text); }			/* Name.Variable.Global */
.highlight .vi	{ color: var(--text); }			/* Name.Variable.Instance */
.highlight .il	{ color: var(--razzmatazz); }	/* Literal.Number.Integer.Long */

.highlight .gh	{ color: var(--text); }			/* Generic Heading & Diff Header */
.highlight .gu	{ color: var(--light-grey); }	/* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd	{ color: var(--red); }			/* Generic.Deleted & Diff Deleted */
.highlight .gi	{ color: var(--green); }		/* Generic.Inserted & Diff Inserted */
