:root {
	--black-ish: #222;
	--white-ish: #F1FAEE;
	--dark-grey: #555;
	--light-grey: #AAA;
	--yellow: #FCC920;
	--dark-yellow: #D0A00E;
	--light-blue: #A8DADC;
	--blue: #1D3557;
	--red: #E63946;
	--green: #20CE88;
	--razzmatazz: #EC0868;
	--purple: #884EE1;
	--dark: #533066;
	
	color-scheme: dark light;

	--yellow-gradient: linear-gradient(145deg, #DAAE1B, #FFD23E);
	--blue-gradient: linear-gradient(145deg, #4c96ff, #226dd7);

	--tiny: .2rem;
	--tinyem: .2em;
	--small: .5rem;
	--smallem: .5em;
	--regular-less: .9rem;
	--regular: 1.1rem;
	--regular-em: 1.1em;
	--regular-more: 1.3rem;
	--regular-more-em: 1.3em;
	--big: 1.6rem;
	--bigger: 1.8rem;
	--twice: 2.2rem;
	--height: 3.1rem;
	--mastodon: 4.4rem;
	--margin: 6.5rem;
	--trans: .5s;
	--quicktrans: .2s;
	--radius-s: .4rem;
	--radius-m: .6rem;
	--radius-l: 1rem;

	--title-text-shadow-hover: none;
}
