@font-face {
  font-family: 'Ubuntu Mono';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://tommi.space/fonts/ubuntu-mono/UbuntuMono-Regular.woff2") format("woff2"),
       url("https://tommi.space/fonts/ubuntu-mono/UbuntuMono-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("https://tommi.space/fonts/ubuntu-mono/UbuntuMono-Italic.woff2") format("woff2"),
       url("https://tommi.space/fonts/ubuntu-mono/UbuntuMono-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://tommi.space/fonts/ubuntu-mono/UbuntuMono-Bold.woff2") format("woff2"),
       url("https://tommi.space/fonts/ubuntu-mono/UbuntuMono-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("https://tommi.space/fonts/ubuntu-mono/UbuntuMono-BoldItalic.woff2") format("woff2"),
       url("https://tommi.space/fonts/ubuntu-mono/UbuntuMono-BoldItalic.woff") format("woff");
}
