---
title: Accueil
ref: home
permalink: /accueil/
redirect_from: [/fr/home/,/homefr/,/home-fr/,/home/fr/]
layout: wrapper
description: Toutes les raisons qui rendent les réseaux sociaux problématiques et des solutions possibles pour vivre sans
toc: false
---
<div class='one column'>
	<div class='row'>
		<div class='page-header'>
			<h1>Quit Social Media</h1>
			<p>{{ description }}.</p>
		</div>
	</div>

	<div class='red box row'>
		<h2 class='title'>Qu’est ce que ce site!?</h2>
		<p>
			<b>Version courte</b>: un lieu listant les problémes liés aux réseaux sociaux ainsi que des alternatives possibles.
			<br />
			<b>Version longue</b> à retrouver sur la <a href='/àPropos'>page À propos</a>
		</p>
		<h3 class='title' style='margin-top:var(--twice)'>Par où commencer</h3>
		<p>
			Vous êtes probablement une personne occupée qui n’a pas le temps de lire tout le contenu de ce site. Nous pensons à vous et avons fait un <a href='/résumé'>résumé</a>
		</p>
		<p>
			Si investir un peu plus de temps vous est possible, et je vous assure que cela vaut le coup, je vous suggère de suivre ce <a href='/chemin' title='Chemin'>chemin</a>
		</p>
	</div>

	<div class='row'>
		<section class='one column'>
			<h2 class='title'>Contactez nous!</h2>
			<p>Si vous avez des questions ou suggestions, n’hésitez pas à nous <a href='mailto:{{ site.author.email }}' target='_blank' title='Envoyez une email'>écrire un e-mail</a> (<a href='https://mail-api.proton.me/pks/lookup?op=get&search={{ site.author.email }}' title='{{ site.author.email }}PGP Key'>clé PGP</a>).</p>
		</section>
	</div>

	<br />

	<div class='blue box row'>
		<a href='/contribuez'><h2 class='title'>Contribuez</h2></a>
		{% for contrib in collections.all %}
			{% if contrib.data.title == 'Contribute' %}
				{{ contrib.templateContent | markdownify }}
			{% endif %}
		{% endfor %}
	</div>

	<br />

	<div class='margin row'>
		<h2 class='title'>Plan du Site</h2>
		<p>Vue d’ensemble des pages du site:</p>
		<ul>
			{% for p in collections.all %}
				{% if p.data.lang == lang and p.url != page.url and p.url != '/' %}
					<li><a href='{{ p.url }}' title='{{ p.data.title }}'>{{ p.data.title }}</a> - {{ p.data.description }}</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>

	<br />
	<br />

</div>
