---
layout: wrapper
---
<div class='h-entry one column'>
	<div class='row page-header'>
		<a class='u-uid' href='{{ page.url }}'><h1 class='p-name'>{{ title }}</h1></a>
		<p>{{ description }}</p>
	</div>

	{% if toc %}
		<div class='row toc'>
			<h2>{% case page.lang %}{% when 'it' %}Indice{% else %}Table of contents{% endcase %}</h2>
		</div>
	{% endif %}
	
	<div class='row'>
		<article class='e-content note'>
			<p>{{ description }}</p>
			{% {{ content }} %}
		</article>
	</div>
	<div class='flex row'>
		<a class='button' href='/l{{ page.nextlevel }}'>{% if page.lang == 'it' %}Livello successivo{% else %}Next level{%endif %}</a>
	</div>

	<div class='flex center'><a class='button' href='{{ source }}' title='{% if lang == 'it' %}Visualizza{% else %}View{% endif %} {{ title }} source code'>{% if lang == 'it' %}Sorgente{% else %}Source{% endif %}</a></div>
	{% render 'share.html', lang: lang, title: title, encoded_absolute_url: encoded_absolute_url %}

</div>
