---
layout: wrapper.html
---
<div class='one column'>
	<div class='row page-header'>
		<h1>{{ title }}</h1>
		{% if desctiption %}<p>{{ description | markdownify }}</p>{% endif %}
	</div>

	{% if toc %}
		<aside id='toc'>
			<h3>
				{% case lang %}
					{% when 'it' %}
						Indice
					{% when 'fr' %}
						Table des matières
					{% else %}
						Table of contents
				{% endcase %}
			</h3>
			{{ content }}
		</aside>
	{% endif %}

	<div class='row'>
		<article class='note'>
			{{ content }}
		</article>
	</div>

	<div class='row'>
		<div class='flex center'><a class='button' href='{{ source }}' title='{% if lang == 'it' %}Visualizza{% else %}View{% endif %} {{ title }} source code'>{% if lang == 'it' %}Sorgente{% else %}Source{% endif %}</a></div>
		{% render 'share.html', lang: lang, title: title, encoded_absolute_url: encoded_absolute_url %}
	</div>

</div>
