<!DOCTYPE html>
<html lang='{% case lang %}{% when 'it' %}it{% when 'fr' %}fr{% else %}en{% endcase %}' prefix='og: http://ogp.me/ns#' dir='ltr'>

	{% if ref %}
		{% for entry in collections.all %}
			{% if entry.data.ref == ref and entry.data.lang != lang %}
				{% assign alternates = alternates | concat: entry %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% render 'head.html', runMode: eleventy.env.runMode, latex: latex, date: date, updated: updated, title: title, description: description, primary: primary, lang: lang, alternates: alternates, accounts: accounts, site: site, url: page.url, layout: layout, isNote: isNote, isPost: isPost, tommi: tommi, image: image %}

	<body>

		{% render 'nav.liquid', lang: lang, site.title: site.title %}

		{% if tags contains 'draft' or tags contains 'wip' %}
			{% render 'draft.html', lang: lang, title: title, source: source %}
		{% endif %}

		{% if tags contains 'l10n' %}
			{% render 'l10n.html', lang: lang, source: source %}
		{% endif %}

		{{ content }}

		<div class='row'>
			{% render 'footer.html', lang: lang %}
		</div>
	
		{% render 'toolbar.liquid', lang: lang, alternates: alternates, url: page.url %}

		<script src='/index.js' type='text/javascript'></script>
	</body>
</html>
