---
title: Home
ref: home
permalink: /home/
redirect_from: [/en/]
layout: wrapper
toc: false
---
<div class='one column'>
	<div class='row'>
		<section class='page-header'>
			<h1>Quit Social Media</h1>
			<p>All of the reasons why Social Media platforms are bad and possible solutions to live a happy life on the web without them</p>
		</section>
</div>

	<div class='row'>
		{% render 'disclaimer-old.html', lang: lang %}
	</div>

	<div class='row'>
	<section class='blue box'>
			<h2 class='title'>WTF is this website?</h2>
			<p>
				<b>Short answer</b>: a place where all the reasons why social media are harmful are listed and several resources to deepen knowledge on the topic are provided, together with valid solutions and alternatives.
				<br />
				<b>Long answer</b>: read the <a href='/about'>About page</a>
			</p>
			<h3 class='title' style='margin-top:var(--twice)'>Where to start</h3>
			<p>
				You probably are a busy person who does not have time to go through all of the stuff that is on here. Ok, I 	got you: just read this <a href='/quick'>quick summary</a>
			</p>
			<p>
				If devoting a bit more of your time to the topic does not bother you, I can assure you it’s definitely worth 	it. I suggest you to follow <a href='/path' title='Path'>this path</a>
			</p>
		</section>
	</div>

	<div class='row'>
		<section class='one column'>
			<h2 class='title'>Get in touch!</h2>
			<p>If you have any questions or suggestions, please don't hesitate to <a href='mailto:{{ site.author.email }}' target='_blank' title='Send me an email'>write me an email</a> (<a href='https://mail-api.proton.me/pks/lookup?op=get&search={{ site.author.email }}' title='{{ site.author.email }}PGP Key'>PGP key</a>).</p>
		</section>
	</div>

	<div class='row'>
		<section class='blue box row'>
			<a href='/contribute'><h2 class='title'>Contribute</h2></a>
			{% for contrib in collections.all %}
				{% if contrib.data.title == 'Contribute' %}
					{{ contrib.templateContent }}
				{% endif %}
			{% endfor %}
		</section>
	</div>

	<section class='margin row'>
		<h2 class='title'>Website pages</h2>
		<p>An overview of all the pages in the website:</p>
		<ul>
			{% for p in collections.all %}
				{% if p.data.lang == lang and p.url != page.url and p.url != '/' %}
					<li><a href='{{ p.url }}' title='{{ p.data.title }}'>{{ p.data.title }}</a> - {{ p.data.description }}</li>
				{% endif %}
			{% endfor %}
		</ul>
	</section>
</div>
