---
title: Path
permalink: /path
ref: path
description: "Too much information got you disoriented? This is the path to follow to free yourself from Social Media dependence."
layout: page
anchor: 0
---
<p>
	You shouldn't (very likely you don't even want to) rush it: don't delete any account straight away.<br />
	Before you get there, if you do, there's an awareness path to follow.
</p>

<div class="red box">
	Since you can take action at different levels, actions which get you closer to <a href="https://tommi.space/internet-freedom" target="_blank" title="“Internet Freedom” in Tommi's notes">Internet Freedom</a> are gameified and displayed as levels, from level <a href="/l00">Level 0</a> to <a href="l1000">Level 1000</a>.
</div>

<br>

<ul>
	<li><strong>Level 0</strong>: <a href="/about">about</a> this website and <strong>its <a href="/about#purpose">purpose</a></strong></li>
	{% for level in site.levels %}
		<li><strong>Level {{ forloop.index }}</strong>: <a href="{{ level.url }}" target="_blank">{{ level.title }}</a></li>
	{% endfor %}
</ul>{% comment %}
<br>
<br>

{% for level in site.levels %}
	<h2><a href="{{ level.url }}">{{ level.title }}</a></h2>

	{{ level.content | markdownify }}

	<br />

{% endfor %}


## About

First of all, you should aknowledge [the purpose](/about) of this website, who created it, and why it's much needed.

<br>


## Why

[Why](/why) should you quit Social Media?

More importantly, are they that bad? The short answer is yes, they do. They're awesome for some things, but there are many other terrifying aspects to consider which objectively strongly overweight the pros.

The [why page](/why) is too long? Start from [here](/quick)
{:.blue .box}

<br>

## Act

You 

<br>

## Free Software

Finding out more about what's wrong with Social Media made you more aware of all of the other big problems that “free” services provided by big cosporations have?

You may be interested in learning about [Free Software](https://fsfe.org/freesoftware/freesoftware.en.html) and in considering Free Software alternatives to non-free proprietary software you are using. How to find alternative software and choose the one which fits you? There are a ton of wabsites which accomplish this task perfectly, the most famous are below.

- [AlternativeTo](https://alternativeto.net/)
- [PrivacyTools](https://privacytools.io/)
- [Switching Software](https://switching.software/){% endcomment %}
