<header class='nav'>
	<a id='home' href='{% case lang %}{% when 'it' %}/it/home{% when 'fr' %}/fr/home{% else %}/home{% endcase %}' title='home'>{{ site.title }}</a>
	<nav id='nav'>
		<input aria-hidden='true' type='checkbox' id='menutoggle'>
		<label class='nav-mobile' for='menutoggle'><span></span></label>
		<ul class='nav-list'>
			<li><a href='/{{ lang }}/about' title='
				{% case lang %}
					{% when 'it' %}Info'>Info
					{% when 'fr' %}À propos'>À propos
					{% else %}About'>About
				{% endcase %}
			</a></li>
			<li><a href='/{{ lang }}/why' title='
				{% case lang %}
					{% when 'it' %}Perché'>Perché
					{% when 'fr' %}Pourquoi'>Pourquoi
					{% else %}Why'>Why
				{% endcase %}
			</a></li>
			<li><a href='/{{ lang }}/but' title='
				{% case lang %}
					{% when 'it' %}Obiezioni e Risposte'><q>Ma…</q>
					{% when 'fr' %}Objections et Réponses'><q>Mais…</q>
					{% else %}Objections and Replies'><q>But…</q>
				{% endcase %}
			</a></li>
			<li><a href='/{{ lang }}/path' title='
				{% case lang %}
					{% when 'it' %}Percorso'>Percorso
					{% when 'fr' %}Chemin'>Chemin
					{% else %}Path'>Path
				{% endcase %}
			</a></li>
			<li><a href='/{{ lang }}/sol' title='
				{% case lang %}
					{% when 'it' %}Soluzioni e alternative'>Soluzioni e alternative
					{% when 'fr' %}Solutions et alternatives'>Solutions
					{% else %}Solutions and alternatives'>Solutions and alternatives
				{% endcase %}
			</a></li>
			<li><a href='/{{ lang }}/faq' title='FAQ'>FAQ</a></li>
			{% if alternates %}
				<li class='dropdown'>
					<label for='langtoggle' title='language selector'>🌍</label>
					<input aria-hidden='true' type='checkbox' id='langtoggle'>
					<ul class='lang-list'>
						{% for alternate in alternates %}
							<li><a rel='alternate' href='{{ alternate.url }}' title='{{ alternate.data.title }}' hreflang='{{ alternate.data.lang }}'>{% case alternate.data.lang %}{% when 'it' %}🇮🇹{% when 'fr' %}🇫🇷{% else %}🇬🇧</a>{% endcase %}</li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
		</ul>
	</nav>
</header>