---
layout: wrapper
---
<div class="page-header">
	<h1 style="color: {{ page.color }}; background-color: {{ page.background-color }};">{{ page.title }}</h1>
	<div class="row">
		<div class="one column">
			<p class="page description">
				{{ content }}
			</p>
		</div>
	</div>
</div>

{% for post in site.posts %}
	{% if post.categories contains page.title %}
		<a href="{{ post.url }}">
			<div class="row">
				<div class="one column preview">
					<div class="four-fifths column">
						<h2 class="post-title">{{ post.title }}</h2>
					</div>
					<div class="one-fifth column date">
						{{ post.date | date: "%d %B %Y" }}
					</div>
				</div>
				<div class="line" style="background: {{ page.background-color }}"></div>
			</div>
		</a>
	{% endif %}
{% endfor %}

<br />
<br />
