---
layout: wrapper
---
<link class="p-author h-card" rel="author" class="p-name" href="/about" content="{{ site.author.name }}" />

<div class="h-entry one column">
	<div class="row page-header">
		<a class="u-uid" href="{{ page.url }}"><h1 class="p-name">{{ page.title }}</h1></a>
		<link class="u-url" href="{{ site.url }}{{ page.url }}" />
		<link rel="author" class="p-author" href="/about" title="Tommi" />
		<p class="last-modified">{% if page.lang == 'it' %}ultima modifica: <time class="dt-updated" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: '%d %b %Y alle %H:%M' }}</time>{% else %}latest edit: <time class="dt-updated" datetime="{{ page.last_modified_at | date_to_xmlschema }}">{{ page.last_modified_at | date: '%d %b %Y at %l:%M %p' }}</time>{% endif %}</p>
	</div>

	{% if page.toc %}
		<div class="toc row">
			<h2>{% if page.lang == 'it' %}Indice{% else %}Table of contents{% endif %}</h2>
		{% include toc.html html=content sanitize=true %}
	</div>
	{% endif %}

	{% include post-tags.html %}

	<div class="row">
		<article class="e-content note">
			{% if page.description != nil %}
				<p>{{ page.description | markdownify }}</p>
			{% endif %}
			{% include anchor-parser.html html=content %}
		</article>
	</div>

	{% include post-tags.html %}
	{% include edit.html %}
	{% include backlinks.html %}
	{% include share.html %}
	{% include comments.html %}

</div>
