---
layout: wrapper
---
<link class="p-author h-card" rel="author" class="p-name" href="/about" content="{{ site.author.name }}" />

<div class="h-entry one column">
	<div class="page-header row">
		<a class="u-uid" href="{{ page.url }}"><h1 class="p-name">{{ page.title }}</h1></a>
		<!--<a class="u-url" href="{{ site.url }}{{ page.url }}"><h1 class="p-name">{{ page.title }}</h1></a>-->
		<p><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %B %Y" }}</time></p>
	</div>

	{% include post-tags.html %}

	{% if page.toc == 1 %}
		<div class="row toc">
			<h2>
				{% if page.lang == 'it' %}
					Indice
				{% else %}
					Table of contents
				{% endif %}
			</h2>
		{% include toc.html html=content sanitize=true %}
	</div>
	{% endif %}

	<div class="row">
		<article class="e-content post">
			{% include anchor-parser.html html=content %}
		</article>
	</div>

	{% include edit.html %}
	{% include backlinks.html %}
	{% include share.html %}
	{% include comments.html %}

</div>
