---
layout: compress
---
<!DOCTYPE html>
<html lang='{% if page.lang == 'it' %}it{% else %}en{% endif %}'>

	{% include head.html %}

	<body>
		<a id='scroll-to-top' href='#' title='scroll to top'>
			<svg class='top button tool' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='background:var(--background)'><path d='M18 15a1 1 0 0 1-.64-.23L12 10.29l-5.37 4.32a1 1 0 0 1-1.41-.15 1 1 0 0 1 .15-1.41l6-4.83a1 1 0 0 1 1.27 0l6 5a1 1 0 0 1 .13 1.41A1 1 0 0 1 18 15z' fill='var(--text)'/></svg>
		</a>
		<a id='scroll-to-bottom' href='#0' title='scroll to bottom'>
			<svg class='bottom button tool' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' style='background:var(--background)'><path d='M18 15a1 1 0 0 1-.64-.23L12 10.29l-5.37 4.32a1 1 0 0 1-1.41-.15 1 1 0 0 1 .15-1.41l6-4.83a1 1 0 0 1 1.27 0l6 5a1 1 0 0 1 .13 1.41A1 1 0 0 1 18 15z' fill='var(--text)'/></svg>
		</a>
		<script>
			scrollbottom = document.getElementById('scroll-to-bottom');
			window.onscroll = function() {scroll()};
			function scroll() {
				if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
					scrollbottom.style.display = 'none';
				} else {
					scrollbottom.style.display = 'block';
				}
			}
		</script>
		{% include nav.html %}

		{% if page.tags contains 'draft' or page.tags contains 'wip' %}
			{% include draft.html %}
		{% endif %}

		{% if page.tags contains 'l10n' %}
			{% include l10n.html %}
		{% endif %}

		{{ content }}
		{% include footer.html %}
	</body>
</html>
